
p{
	color: tomato;
	font-family: futura, sans-serif;
	font-size: 18pt;
	line-height: 24pt;
	text-transform: uppercase;
	margin: 50px;
	text-align: center;
	display:block;
	letter-spacing: 2px;
}

.people{
	background-color: #d3d3d3;
	margin: 200px;
	border: 4px solid dimgray;
	}